<footer class="footer flex flex-row items-center p-3 bg-white dark:bg-gray-800">
    <img src="/public/logo.png" alt="logo la vague" class="object-contain h-24 mx-4">
    <div class="flex-1 text-center text-sm font-semibold"></div>
    <div class="flex flex-col italic ">
        <div class="float-right text-gray-500">
            Avec <i class="fa-solid fa-heart size-1 text-red-500 inline-block"></i>
        </div>
        <div class="text-red-500 text-center text-lg font-semibold">
            La Vague Taï Chi Chuan
        </div>
    </div>
</footer>
