{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) %}
  <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page" {% endif %}
     class="flex flex-col items-center p-4 font-medium {% if entry.url == page.url %}bg-red-50 dark:bg-gray-700 {% else %}{% endif %}">
    {% if entry.icon %}
        <i class="{{ entry.icon }} size-1 inline-block"></i>
    {% endif %}
    <div class="text-sm ">{{ entry.title }}</div>
  </a>
{%- endmacro %}

<div class="flex flex-wrap justify-center" role="list">
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</div>
