
<div class="top-nav flex flex-row justify-between p-4 border-b-2 border-gray-200 bg-red-300 dark:bg-gray-800 dark:border-red-900">
  <img src="/public/logo.png" alt="logo la vague" class="object-cover h-24">
<!--  <a href="/" class="inline-block text-xl font-medium transition-opacity hover:opacity-80">-->
<!--    <span class="hidden">La Vague Tai Chi Chuan</span>-->
<!--    <img src="/public/logo.png" alt="logo la vague" class="size-10 object-cover">-->
<!--  </a>-->
  <div class=" text-red-500 text-center text-lg font-bold flex flex-col">
    <img src="/public/logolv.jpg" alt="logo la vague" class="mx-auto object-cover">
    <div class="hidden">La Vague Taï Chi Chuan</div>
  </div>
  <img src="/public/logo.png" alt="logo la vague" class="object-cover h-24">
</div>
