<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
<!--    Load tailwind.css -->
    <link rel="stylesheet" href="/public/tailwind.css">
<!--    Loaded tailwind.css -->
    <link rel="stylesheet" href="/public/main.css">
<!--    Custom js to enabled dark mode -->
    <script type="text/javascript" data-name="theme-toggle">
        (function() {
            let savedTheme = null;
            try {
                savedTheme = localStorage.getItem('theme');
            } catch (e) {}

            const systemTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
            const theme = savedTheme || systemTheme;

            document.documentElement.style.setProperty('color-scheme', theme);
        })();
    </script>
<!--    Loaded Custom js to enabled dark mode -->
</head>
<body class="container mx-auto max-w-screen-lg bg-red-50 border-x border-red-100 dark:bg-gray-800">
    {% block top_navbar %}
        <div class="hidden md:block">
            {% include "components/top_nav.html" %}
        </div>
        <div class="sticky top-0 z-50 bg-white md:hidden">
            {% include "components/top_nav_sm.html" %}
        </div>
    {% endblock %}

    {% block hero_banner %}{% endblock %}

    <div class="flex">
        {% include "components/left_menu.html" %}
        <div class="flex-grow">
            {% block content %}{% endblock %}
            {% include "components/footer.html" %}
        </div>
    </div>

    {% include "components/bottom_nav.html" %}

    <!-- outputs all the icons used on the page -->
    {% getBundle "fontawesome" %}
</body>
</html>
