---
title: La Barasse | La Vague | Taï Chi Chuan
layout: "layouts/cours.njk"
tags: ["cours"]
eleventyNavigation:
    key: barasse
    title: La Barasse - 13011
    parent: cours
    order: 3
short_title: CMA de la Barasse
when_description: Le <b>mardi</b> de 18h/21h
address:
  line1: 100 bd de la Barasse
  city: Marseille
  post_code: 13011
  country: France
  open_street_map_url: "/public/cours/cma-labarasse-open-street-map.png"
lesson:
    day: "mardi"
    start_time: "18h"
    end_time: "21h"
    levels:
      - "18h à 19h30: Débutant·e·s"
      - "19h30 à 21h: Avancé·e·s"
main_header:
  title: "CMA de la Barasse"
  subtitle: "Marseille 11e"
  image_url: "/public/images/gallery/TaiChi-233.jpg"
---

<h4>Les différentes pratiques</h4>

<div class="flex flex-col text-center">
    Forme lente, rapide, épée, sabre, bâtons, tui shou, sanshou (pratique avec partenaire), qi gong, échauffements, étirements...
</div>
