---
title: Consolat | La Vague | Taï Chi Chuan
layout: "layouts/cours.njk"
tags: ["cours"]
short_title: Consolat
eleventyNavigation:
    key: consolat
    title: Consolat - 13001
    parent: cours
    order: 1
when_description: Le <b>jeudi</b> de 18h/21h
address:
  line1: 99 rue Consolat
  post_code: 13001
  city: Marseille
  open_street_map_url: "/public/cours/consolat-open-street-map.png"
lesson:
    day: "jeudi"
    start_time: "18h"
    end_time: "21h"
    levels:
      - "18h à 19h30: Débutant·e·s"
      - "19h30 à 21h: Avancé·e·s"
main_header:
  title: "Consolat"
  subtitle: "Marseille 1er"
  image_url: "/public/gallery/TaiChi-233-1280.jpg"
---

<h4>Les différentes pratiques</h4>

<div class="flex flex-col text-center">
    Forme lente, rapide, épée, sabre, bâtons, tui shou, sanshou (pratique avec partenaire), qi gong, échauffements, étirements...
</div>
