---
title: Conception | La Vague | Taï Chi Chuan
layout: "layouts/cours.njk"
tags: ["cours"]
short_title: Institut Vallier
eleventyNavigation:
    key: vallier
    title: L'Institut Vallier - 13005
    parent: cours
    order: 2
when_description: "Le <b>mardi</b> de 12h15/13h45"
address:
  line1: 67 rue Ferrari
  post_code: 13005
  city: Marseille
  country: France
lesson:
    day: "mardi"
    start_time: "12h15"
    end_time: "13h45"
    levels:
      - "Tous niveaux"
main_header:
  title: "L'Institut Vallier"
  subtitle: "Dojo Provançal"
  image_url: "/public/gallery/TaiChi-233.jpg"
---


<h4>Les différentes pratiques</h4>

<div class="flex flex-col text-center">
    Forme lente, rapide, épée, sabre, bâtons, tui shou, sanshou (pratique avec partenaire), qi gong, échauffements, étirements...
</div>
