---
title: Gallery | La Vague | Taï Chi Chuan
#eleventyNavigation:
#  key: Gallery
#  order: 2
layout: "layouts/base.njk"
permalink: "/gallery/"
eleventyNavigation:
  key: gallery
  title: Gallery
  icon: "fa-regular fa-images"
  order: 6
---

<h3 class=""><i class="fa-solid fa-images size-1 inline-block"></i> Gallery Photos</h3>

{% include "components/gallery_feature.html" %}
